.content{
    width: 90%;
    margin: 1.4rem auto auto auto;
}

.title{
    text-align: left;
    margin-bottom: 3rem;
}

.title h1{
    font-size: 2rem;
}

.button-new-category{
    margin-bottom: .8rem;
    color: green;
}

.table{
    width: 100%;
    

}

.edit{
color: white;
}

.delete{
color:rgb(199, 66, 66);
margin-left: .5rem;
}

.mat-header{
    width: 5rem;
}

.books{
    color: white;
}