<form>
    <h1>Create a new Category:</h1>
    <mat-form-field class="form">
      <mat-label>Name:</mat-label>
      <input
       disabled
        matInput
        type="text"
        name="name"
        placeholder="insert name here"
      />
    </mat-form-field>
  
    <mat-form-field class="form">
      <mat-label>Description:</mat-label>
      <textarea
    
        disabled
        matInput
        type="text"
        name="description"
        placeholder="insert the description here"
      ></textarea>
    </mat-form-field>
  
    <div class="buttons">
      <button
        
        class="buttons mat-elevation-z8 button-new-category"
        mat-stroked-button
        color="primary"
      >
        DELETE
      </button>
      <button
      
        class="buttons mat-elevation-z8 button-new-category"
        mat-stroked-button
        color="warn"
      >
        CANCEL
      </button>
    </div>
  </form>

  